<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> List of photos </h1>

  <table border="1">
    <tr>
      <th> Image </th>
      <th>Caption</th>
      <th>Owner</th>
      <th>Posted</th>
      <th></th>
    </tr>
    <% @list_of_photos.each do |a_photo| %>
    <tr>
      <td><%= a_photo.image %></td>
      <td><%= a_photo.caption %></td>
      <td><%= a_photo.poster.username %></td>
      <td><%= a_photo.created_at %></td>
      <td><a href="/photos/<%= a_photo.poster.username %>">Show details</a></td>
    </tr>
    <% end %>
  </table>
</body>
</html>
